<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    {% block title %}<title>{{ title or "Make an Entry" }}</title>{% endblock %}
    {% block stylesheet %} {% endblock %}
</head>
<body>
    <header class="header-navbar">
        <div>
            <a href="{{ url_for('journal_entries.render_journal_entries') }}">Personal Finance</a>
        </div>
        <div>
            <h2>{{ title or "Journal Entries" }}</h2>
        </div>
    </header>
    <div class="under-header-section">
        <nav class="side-navbar">
            <div class="navbar-upper">
                <div class="navbar-upper-options-content">
                    <a href="{{ url_for('journal_entries.render_journal_entries') }}" class="navbar-options">Make an Entry</a>
                    <a href="{{ url_for('financial_standing.render_financial_standing') }}" class="navbar-options">Financial Standing</a>
                    <a href="{{ url_for('make_a_budget.render_make_a_budget') }}" class="navbar-options">Make a Budget</a>
                    <a href="{{ url_for('edit_templates.render_edit_templates') }}" class="navbar-options">Edit Templates</a>
                </div>
            </div>
            <div class="navbar-lower">
                <a href="{{ url_for('settings.render_settings') }}" class="navbar-lower-settings">Settings</a>
            </div>
        </nav>
        <div class="main-user-interface">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>