<form action="{{ url_for('journal_entry.render_journal_entries') }}">
    <input type="submit" value="Go to journal entry">
</form>

<form action="{{ url_for('financial_standing.render_financial_standing') }}">
    <input type="submit" value="Go to Financial Standing">
</form>

<form action="{{ url_for('make_a_budget.render_make_a_budget') }}">
    <input type="submit" value="Go to Make a Budget">
</form>

<form action="{{ url_for('edit_templates.render_edit_templates') }}">
    <input type="submit" value="Go to Edit Templates">
</form>

<form action="{{ url_for('settings.render_settings') }}">
    <input type="submit" value="Go to Settings">
</form>